{% extends "home_base/base.html" %}

{% block title %} {{title}} {% endblock title %}


{% block body %}
<div class="page-contain shopping-cart">

    <!-- Main content -->
    <div id="main-content" class="main-content">
        <div class="container">
            <!--Cart Table-->
            <div class="shopping-cart-container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="box-title">Your cart items</h3>
                        <form class="shopping-cart-form" action="#" method="post">
                            <table class="shop_table cart-form">
                                <thead>
                                <tr>
                                    <th class="product-name">Product Name</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                {% if chart_items %}
                                    
                                    {% for item in chart_items %}
                                        <tr class="cart_item">
                                            <td class="product-thumbnail" data-title="Product Name">
                                                <a class="prd-thumb" href="{% url 'home:set-menu-details' item.items.id %}">
                                                    <figure><img width="113" height="113" src="{{item.items.menu_image.url}} " alt="shipping cart"></figure>
                                                </a>
                                                
                                                <a class="prd-name" href="#"> {{item.items.menu_name}}</a>
                                                <div class="action">
                                                    
                                                    <a href="" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                    <a href="{% url 'home:remove_form_cart' item.items.id %}" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                </div>
                                            </td>
                                            <td class="product-price" data-title="Price">
                                                <div class="price price-contain">
                                                    <ins><span class="price-amount"><span class="currencySymbol">TK</span> {{item.items.new_price}}</span></ins>
                                                    <del><span class="price-amount"><span class="currencySymbol">TK</span>{{item.items.price}}</span></del>
                                                </div>
                                            </td>
                                            <td class="product-quantity" data-title="Quantity">
                                                <div class="quantity-box type1">
                                                    <div class="qty-input">
                                                        <a class="btn  me-2 btn-update" href="{% url 'home:increase_cart' item.items.id %}" role="button"><i class="fa-solid fa-plus"></i></a>
                                                        <input type="text" name="qty12554" value="{{item.quentity}}" data-max_value="20" data-min_value="1" data-step="1">
                                                        <a class="btn  ms-2 btn-update" href="{% url 'home:decrease_cart' item.items.id %}" role="button"><i class="fa-solid fa-minus"></i></a>
                                                        
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="product-subtotal" data-title="Total">
                                                <div class="price price-contain">
                                                    <ins><span class="price-amount"><span class="currencySymbol">TK</span>{{item.get_total}}</span></ins>
                                                    <del><span class="price-amount"><span class="currencySymbol">Tk</span> {{item.get_total_old}} </span></del>
                                                    
                                                </div>
                                            </td>
                                        </tr> 
                                    {% endfor %}
                                {% endif %}
                                <tr class="cart_item wrap-buttons">
                                    <td class="wrap-btn-control" colspan="4">
                                        <a class="btn back-to-shop">Back to Shop</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="shpcart-subtotal-block">
                            <div class="subtotal-line">
                                <b class="stt-name">Subtotal <span class="sub">({{total_items}}ittems)</span></b>
                                <span class="stt-price">TK {{total_price}}</span>
                            </div>
                            <div class="subtotal-line">
                                <b class="stt-name">Shipping</b>
                                <span class="stt-price">Tk {{shipping_charge.shipping_charge}} </span>
                            </div>
                            {% comment %} <div class="tax-fee">
                                <p class="title">Est. Taxes & Fees</p>
                                <p class="desc">Based on 56789</p>
                            </div> {% endcomment %}
                            <div class="btn-checkout">
                                <a href="{% url 'payment:checkout' %}" class="btn checkout">Check out</a>
                            </div>
                            <p class="pickup-info"><b>Free Pickup</b> is available as soon as today More about shipping and pickup</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Related Product-->
            <div class="product-related-box single-layout">
                <div class="biolife-title-box lg-margin-bottom-26px-im">
                    <span class="biolife-icon icon-organic"></span>
                    <span class="subtitle">All the best item for You</span>
                    <h3 class="main-title">Related Products</h3>
                </div>
                {% if foods %}
                <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":0,"slidesToShow":5, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":20}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":10}}]}'>
                    
                    {% for food in foods %}
                        <li class="product-item">
                            <div class="contain-product layout-default">
                                <div class="product-thumb">
                                    <a href="{% url 'home:set-menu-details' food.id %}" class="pr-name" class="link-to-product">
                                        <img src=" {{food.menu_image.url}} " alt="dd" width="270" height="270" class="product-thumnail">
                                    </a>
                                </div>
                                <div class="info">
                                    <b class="categories"> {{food.food_catagory.category_name}} </b>
                                    <h4 class="product-title"><a href="{% url 'home:set-menu-details' food.id %}" class="pr-name"> {{food.menu_name}} </a></h4>
                                    <div class="price ">
                                        <ins><span class="price-amount"><span class="currencySymbol"></span> {{food.new_price}} </span>TK</ins>
                                        <del><span class="price-amount"><span class="currencySymbol">£</span> {{food.price}} </span>TK</del>
                                    </div>
                                    <div class="slide-down-box">
                                        <p class="message">
                                            {% for food in food.foods_items.all %}
                                                {{food.food_name}},
                                            {% endfor %}  
                                        </p>
                                        <div class="buttons">
                                            <a href="{% url 'home:add_to_cart' food.id %}" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                    {% endfor %}
                        
                </ul>
                
                
                {% endif %}
                
            </div>

        </div>
    </div>
</div>
    
{% endblock body %}
    